/* Vista de ordenador */
@media (min-width: 800px) {
  .body{
    background-color:khaki !important;
    background-image: url(img/pizz1.png);
    z-index: 9999;
    background-position: right;
    background-position-y: 10px;
    background-repeat: no-repeat;
  }
  #tit{
    background-color: tomato;
    min-height:90px ;
    padding-top: 15px;
    color: khaki;
    width: 100%;
  }
  .prin{
    padding-top: 30px;
    padding-bottom:40px ;
  }
  #tprin h3{
    font-size: 90px;
}

.th3{
    font-size: 300%;
    margin-left: 26%;
}
.tx{
    
    max-width: 62%;
    font-size: 22px;
    padding: 2%;
    margin-left: 3%;
}
.num{
  padding-top: 16px;
  text-align: center;
  cursor: pointer;
}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 800px) {
    .navbar {
      padding: 0;
    }
  
    .navbar ul {
      margin-left: 30%;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
      background-color: tomato;
    }
  
    .navbar li {
      position: relative;
      margin: 10px;
      text-align: center;
      
      
    }
  
    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 28px 10px 28px;
    }
  
    .navbar a,
    .navbar a:focus {
      /* display: flex ; */
      /* align-items: center; */
      /* justify-content: space-between; */
      /* padding: 0 3px; */
      /* font-family: var(--font-secondary); */
      text-decoration: none;
      font-size: 16px !important;
      font-weight: 600;
      color: khaki;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
      
    }
    
    .navbar a:hover,
    .navbar li:hover>a {
      color: #000;
    } 
    .navbar a:active{
      color: aliceblue !important;
    }
    
}

  .bt{
    margin-left: 30%;
    background-color: tomato !important;
    color: khaki !important;
  }
  .tit{
    padding-left: 7%; 
  }
  
  .xt1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  }
  .carru{
    margin: 4px 4px 15px 4px;
    width: 600px;
    
  }
  /* span{
    animation-name: anim;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  } */
  span:hover{
    color: tomato;
    transition: ease 0.3s;
    cursor: pointer;
    
  }
  .nem{
    width: 70%;
    
  }
  .flot{
    position: absolute;
    left: 60%;
    top: 930px;
    background-color: rgb(230, 218, 119);
  }
  .flot1{
    position: absolute;
    left: 52%; 
    top: 1180px;
    background-color: rgb(230, 218, 119);
  }
  .flo1{
    background-color: rgb(230, 218, 119);
  }
  .imfond{
    background-image: url(img/pizz3.png);
    background-position-x: right;
    background-position-y: 600px;
    background-repeat: no-repeat;
    background-size: 700px;
  }
  footer{
    padding-top:50px ;
    padding-bottom: 40px;
    background-color: tomato;
    max-width: 100%;
    overflow: hidden;
    color: black !important;
  }
  .tira{
    text-decoration: none;
    color: black;
  }
  .t1{
    background-color: tomato;
    max-width: 100px;
    height: 40px;
    position: relative;
    left: 90%;
    top: -30px;
  }
  .t2{
    position: relative;
    top: 6px;
    padding-left: 17px;
    padding-top: -10px;
    text-decoration: none;
    color: khaki;
  }
 .tx1{
    text-align: center;
  }
  
} 

/* Vista de Dispositivo movil */
@media(max-width: 800px){
  .body{
    background-color:khaki !important;
    background-image: url(img/pizz1.png);
    background-size: 110%;
    background-position: right;
    background-position-y: 300px;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 4%;
  }
  #tit{
    background-color: tomato;
    min-height:90px ;
    padding-top: 15px;
    color: khaki;
    width: 100%;
  }
  .prin{
    padding-top: 30px;
    padding-bottom:40px ;
  }

  .navbar{
    display: flex;
  }
}

.car{
  margin: 2% 2% 2% 2%;
}
@keyframes anim{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(50px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(-50px);
  }
  100%{
    transform: translateX(0);
  }
}
.zoon{
  transition-duration: 0.3s;
  
}
.zoon:hover{
  scale: 1.1;
}
.bod{
  background-color:khaki !important;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
}
.alerta{
  
}
.alerta {
  position: relative;
  top: 10px;
  background-color: tomato;
  padding: 1.5rem;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
}
.alerta.error {
  background-color: rgb(162, 0, 0) !important;
}
.alerta.exito {
  background-color: rgb(7, 145, 7) !important;
}